.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.label{
    font-weight: 500;
    font-family: Roboto;
    font-size: 18px;
    color:#ffffff;
}
.input-box{
    padding-left:16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    width:250px;
}
.add-btn{
    height:50px;
    width:120px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border:none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    background-color: coral;
    color:#ffffff;
}